# String operations

#### The casefold() method is used to lower case the string

In [50]:
string= "I am Pioneer of Sacred Heart University"
string.casefold()

'i am pioneer of sacred heart university'

#### The index() method searches the string for the given value and returns its position

In [51]:
text= "Welcome to connecticut"
text.index("to")

8

#### The isascii() method returns true if the string contains ascii characters

In [52]:
company="Decision consultant solutions-03!"
company.isascii()

True

#### The isdecimal() methods returns true if all the characters in the string are decimals

In [53]:
number="12121979"
number.isdecimal()

True

#### The join() method is used to join all items in a tupple to a string

In [54]:
tupple=("Bharadwaj","Naga","Satya","Gangadhar")
",".join(tupple)

'Bharadwaj,Naga,Satya,Gangadhar'

#### The splitlines() method splits the string into a list where each line is a string item

In [55]:
course="Subject is text based analysis\nIts class day\nIts raning heavily"
course.splitlines()

['Subject is text based analysis', 'Its class day', 'Its raning heavily']

#### The replace() method returns a string where a specified value is replaced with a specfied value

In [56]:
fruit="I like to eat mangoes"
fruit.replace("mangoes","apples")

'I like to eat apples'

#### The title() method converts the first character of each word to uppercase

In [57]:
Textbook="data scientists"
Textbook.title()

'Data Scientists'

#### The expandtabs() methods expands the tab size of the string

In [58]:
words="United\tstates\tof\tamerica"
words.expandtabs(2)

'United  states  of  america'

#### The count() method returns the number of times the value appear in the string

In [59]:
Name= "Bharadwaj Naga Satya Gangadhar Pinisetty"
Name.count("a")

10

#### The capitalize() method is used to upper case the first letter in the sentence

In [45]:
text= "this is stratford avenue!"
text.capitalize()

'This is stratford avenue!'

# Regular Expressions

### Regex 1

#### Program to extract for phone numbers in the given text using a specific pattern which printouts the phone number found.

In [60]:
import re
string = "For customer support, call 234-565-9087 or 234.565.9088."
pattern = r'\b\d{3}[-.]\d{3}[-.]\d{4}\b'
check = re.findall(pattern, string)
print("numbers are:")
for search in check:
    print(search)

numbers are:
234-565-9087
234.565.9088

### Regex 2

#### Program to extract numbers from a string

In [61]:


import re
text = 'Lius is aged 27 and he lives in zipcode 06613'
pattern = '\d+'
result = re.findall(pattern, text) 
print(result)

['27', '06613']

### Regex 3

#### This code splits the given text when it encounters digits and prints the substrings as a list

In [62]:
import re

text="John is living in 1111 norwalk community."
pattern = '\d+'

result = re.split(pattern, text) 
print(result)

['John is living in ', ' norwalk community.']

### Regex 4

#### This program provides a password strength validation for the given password

In [63]:
import re
text = "my password is Qwerty@12098!"
pattern = r'(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}'
result = re.search(pattern, text)
if result:
    print("Valid password!")
else:
    print("Invalid password!")

Valid password!

### Regex 5

#### This program is to find all words that are starting with # in the given text.

In [64]:
import re
text = "I like #united #states of #america!"
pattern = r'#\w+'
result = re.findall(pattern, text)
print("Found result:")
for results in result:
    print(results)

Found result:
#united
#states
#america