# String operations in python

In [73]:
a = "Hello"
print(a)

Hello

### Accessing individual letters

In [74]:
a = "Hello, World!"
print(a[1])

e

In [75]:
b = "Hello, World!"
print(b[2:5])

llo

### String functions

In [76]:
a = "Hello, World!"
print(len(a))#prints the length of the string
print(a.upper())#prints the string in upper case
print(a.lower())#prints the string in lower case
print(a.replace("H", "J"))#replaces and prints the specified letter with specified letter

13
HELLO, WORLD!
hello, world!
Jello, World!

### String concatenation

In [77]:
#c prints the combination of a and b
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### String methods

In [78]:
#Returns true if all of the alphabetic letters in the string are lowercase
a=" NAGA SATYA"
a.islower()

False

In [79]:
a = "Hello, World!"
b="HELLO"
c="456"

In [80]:
#Returns true if the string contains only alphabetic letters or digits
a.isalnum()

False

In [81]:
#Returns true if the string contains only alphabetic letters
b.isalpha()

True

In [82]:
#Returns true if the string contains only whitespace characters
a.isspace()

False

In [83]:
#Returns true if the string contains only numeric digits
c.isdigit()

True

In [84]:
#Returns true if all of the letters in the string are uppercase
b.isupper()

True

### String modification methods

In [85]:
#Returns a copy of the string with all leading whitespace characters removed
a=" Naga Satya"
a.lstrip()

'Naga Satya'

In [86]:
#Returns a copy of the string with all instances of char that appear at the beginning of the string removed.
a.lstrip(' N')

'aga Satya'

In [87]:
#Returns a copy of the string with all trailing whitespace characters removed.
a.rstrip()

' Naga Satya'

In [88]:
#Returns a copy of the string with allinstances of char that appear at the ending of the string removed.
a.rstrip('A')

' Naga Satya'

In [89]:
#Returns a copy of string by removing whitespaces at begining and ending
a.strip()

'Naga Satya'

In [90]:
#Returns a copy of the string with all instances of char that appear at the beginning and the end of the string removed.
a.strip('N')

' Naga Satya'

In [91]:
#converts the string to uppercase
a.upper()

' NAGA SATYA'

### Search and replace string methods

In [92]:
#returns true if the string ends with the given sub string
a.endswith("Satya")

True

In [93]:
#returns true if the string starts with substring.
a.startswith("Satya")

False

In [94]:
#returns the position of the given substring 
a.find("Satya")

6

In [95]:
#returns a copy of the string with all instances of old replaced by new
a.replace("Satya","Gangadhar")

' Naga Gangadhar'

In [96]:
#returns true if the string starts with substring.
a.startswith("N")

False

### Splitting a string

In [97]:
#split()-returns a list containing the words in the string
str = 'Bharadwaj Naga Satya Gangadhar'
words = str.split()
words

['Bharadwaj', 'Naga', 'Satya', 'Gangadhar']

In [98]:
#returns a list by splits the string into substrings when "." is present in a string
my_address = 'www.example.com'
tokens = my_address.split('.')
tokens

['www', 'example', 'com']

In [99]:
#returns a list by splits the string into substrings when "/" is present in a string
num='1/2/3/4/5'
result=num.split('/')
result

['1', '2', '3', '4', '5']

# Regular expressions

In [100]:
#Tokenizes input text by finding all non-overlapping occurrences of 'abc'
import regex as re
def tokenize(text):
    return re.findall(r'abc', text)
x = tokenize("abcd 45abc abc% abc.com acbrx .=.abc.=. ab c cba ABC ")
x

['abc', 'abc', 'abc', 'abc', 'abc']

In [101]:
# Returns a list of substrings matching the pattern: character, 'oo', any character, 'y'.
import regex as re
def tokenize(text):
    return re.findall(r'.oo.y', text)
x = tokenize(" abcd gooey moody broody goofy gummy mooooudy loopy ooy ")
x

['gooey', 'moody', 'roody', 'goofy', 'loopy']

In [102]:
# Finds occurrences of 'abc.abc.com' in text, sensitive to exact match including the dot.
import regex as re
def tokenize(text):
    return re.findall(r'abc\.abc.com', text)
x = tokenize("abc.abc.com abc.abc,com abc,abc.com ABC.abc.com ")
x

['abc.abc.com', 'abc.abc,com']

In [103]:
# program to find occurrences of a word at the beginning of a string 
import regex as re
def tokenize(text):
    return re.findall(r'^The', text)
x = tokenize("Them ")
print(x)
y= tokenize("them")
print(y)
z=tokenize("they")
print(z)

['The']
[]
[]

In [104]:
# program to find occurrences of a word at the ending of a string 
import regex as re
def tokenize(text):
    return re.findall(r'Bye$', text)
x = tokenize("They said goodBye")
print(x)
y= tokenize("He said goodBye ")
print(y)

['Bye']
[]

In [105]:
# program to find occurrences of abc or xyz in the given string 
import regex as re
def tokenize(text):
    return re.findall(r'abc|xyz', text)
x = tokenize("abcd xsdxyz xyz derf")
print(x)

['abc', 'xyz', 'xyz']

In [106]:
# program to find occurrence of a Homer Simpson|Marge Simpson in the given string 
import regex as re
def tokenize1(text):
    return re.findall(r'Homer Simpson|Marge Simpson', text)
def tokenize2(text):
    return re.findall(r'(Homer|Marge) Simpson', text)
x = tokenize1("Homer Williams Homer Simpson Marge Simpson")
print(x)
x = tokenize2("Homer Williams Homer Simpson Marge Simpson")
print(x)

['Homer Simpson', 'Marge Simpson']
['Homer', 'Marge']